.bottom-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 2rem;
}

.student-participation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.student-participation > p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.18rem;
  text-align: center;
  color: #5c34ec;
}

.bottom-table-wrapper {
  height: calc(100vh - 525px);
  overflow-y: auto;
  overflow-x: hidden;
}

.bottom-table-wrapper > table {
  border-top: 2px solid #b9bbbe;
}

.content-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-list > p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.85rem;

  color: #9f9f9f;
}

.content-list > img {
  height: 1.625rem;
  width: 1.625rem;
  margin-left: 3.75rem;
}
