@import './breakpoints';
@import '../App.css';

.main-board {
    .empty-board {
        @include lg {
            display: grid;
            margin: 1rem 13rem;

            .main-board-table {
                table {
                    margin-top: 3rem;
                    border-collapse: collapse;
                    width: 100%;
                }

                table th:first-child,
                table th:nth-child(2),
                table td:nth-child(2) {
                    text-align: left;

                }

                ;

                table th:nth-child(3),
                table td:nth-child(3) {

                    text-align: center;

                }

                thead tr {
                    border-bottom: 2px solid #000;

                }

                tbody tr {
                    border-bottom: 1px solid #000;
                }

                thead th {
                    padding: 0.3rem 0;
                    padding-left: 3em;
                }

                tbody td {
                    padding: 1rem 0;
                    padding-left: 3rem;
                }

                th:first-child,
                td:first-child {
                    width: 40%;
                }
            }

            .main-board-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .main-board-btn {
                    display: flex;
                    gap: 1rem;
                    color: #fff;
                    background-color: var(--deepBlue);
                    border: solid 1px;
                    padding: 0.5rem 2rem;
                    border-radius: 8px;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    align-items: center;


                }

                .main-board-header-right {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .upload-btn {
                        display: flex;
                        color: var(--deepBlue);
                        font-weight: 600;
                        align-items: center;
                        gap: 0.5rem;
                        cursor: pointer;
                    }
                }
            }

            .main-board-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0rem auto 0 auto;
            }
        }
    }


}