@import './breakpoints';
@import '../App.css';
.main-board{
    @include lg{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin: 2rem 13rem;
        


        .admin-board{
                display: flex;
                flex-direction: column;
                height: 100%;
               
                
            
                .main-board-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1{
                        color: #31394E;
                        font-size: 1.8rem;
                    }
    
                    .main-board-btn{
                        display: flex;
                        gap: 1rem;
                        color: #fff;
                        background-color:var(--deepBlue) ;
                        border: solid 1px;
                        padding: 0.5rem 2rem;
                        border-radius: 8px;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        align-items: center;
    
                        
                    }
    
                    .main-board-header-right{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
    
                        .upload-btn{
                            display: flex;
                            color:var(--deepBlue) ;
                            font-weight: 600;
                            align-items: center;
                            gap: 0.5rem;
                            cursor: pointer;
                        }
                    }
                }
    
                .main-board-body{
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                   
                   
                  
                    
                 }
    
            }
        }
        
       
   

   
   
}

