@import './breakpoints';
@import '../App.css';

.create-assignment-modal-container{
    @include lg{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(59, 59, 64, 0.8);
        display: grid;
        place-items: center;

        .assignment-modal{
            width: 65%;
            height: 90%;
            background-color: #fff;
            backdrop-filter: blur(2px);
            border-radius: 8px;

            .modal-content{
                display: grid;
                height: 90%;
                grid-template-columns: repeat(3,54% 1% 45%);

                .modal-middle-line{
                    border-left: 1px solid#B9BBBE;
                }
                .modal-left-side{
                   display: flex;
                   flex-direction: column;
                   gap: 0.5rem;
                    
                }
                .modal-right-side{
                    .invite-student-card{
                        display: flex;
                        align-items: center;
                        gap: 2rem;

                        .circle{
                            width: 40px;
                            height: 40px;
                            display: flex;
                            background-color: green;
                            border-radius: 50%;
                            color: #fff;
                           justify-content: center;
                           align-items: center;
                        }
                    }
                    
                }
            }
        }
    }
}