@import './breakpoints';

.main-student-dashboard-container{
    max-height: 1024px;

    a{
        &.active{
            border-bottom: 4px solid green;
            line-height: 2rem;
        }
    }
}