@import './breakpoints';
@import '../App.css';


.navbar {
    width: 100%;
    color: aliceblue;

    @include lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--navBarGradient);
        padding: 1rem 2rem;

        .left-nav {
            display: flex;
            align-items: center;
            gap: 4rem;


            a {
                color: #fff;

                &.active {
                    border-bottom: 4px solid #170E7D;
                    line-height: 2rem;
                }
            }

        }

        .right-nav {
            display: flex;
            align-items: center;
            gap: 2rem;

            .logout {
                border: solid 1px;
                text-align: center;
                font-size: 1rem;
                width: 6.5rem;
                height: 2.3rem;
                border-radius: 10px;
                background-color: transparent;
                color: #fff;
                cursor: pointer;
            }

        }

    }
}