@import './breakpoints';
@import '../App.css';


.navbar{
  
    @include lg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: aliceblue;
        padding: 1rem 2rem;

        .left-nav{
            display: flex;
            align-items: center;
            gap: 4rem;

            
            a{
                color: #fff;
                background-color: transparent;
               
            }
            
        }
       
        .right-nav{
            display: flex;
            align-items: center;
            gap: 2rem;

            .logout{
                border: solid 1px;
                text-align: center;
                font-size: 1rem;
                width: 6.5rem;
                height: 2.3rem;
                border-radius: 10px;
                background-color: transparent;
                color: #fff;
                cursor: pointer;
            }

        }
    
    }
}