@import "./breakpoints";

.students-dash-board-all {
  @include lg {
    display: flex;
    max-height: 1024px;
    .studentMainBoardContainer {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 0.5rem;
      width: 100%;
      height: calc(100vh - 6.05rem);
      max-height: 1024px;
      padding-top: 3rem;
      padding-left: 1rem;
      overflow-y: auto;

      @include xl{
         gap: 2rem;
         padding-left: 2rem;
      }
   
    }
  }
}
