@import './breakpoints';

.main-board-table{
    @include lg{
        table{
            width: 100%;
            border: none;
            border-collapse: collapse;
            text-align: left;
            margin-top: 2rem;
           
            
           th{
            padding: 0 5rem;
            border-bottom: 1px solid green;
                &:nth-child(3){
                    text-align: center;
                }
           }
       
           td {
            padding: 0  0 0 5rem ;
          }
        }
    }
   
}