@import './breakpoints';
@import '../App.css';

.main-board-table{
    @include lg{
        width: 100%;
        table{
            margin-top: 2rem;
            border-collapse: collapse;
            width: 100%;
            color:#797676;
            ;
        }
        
        table th:first-child,
        table th:nth-child(2),
        table td:nth-child(2){
            text-align: left;
           
        };
    
        table th:nth-child(3),
        table td:nth-child(3){
           
            text-align: center;
            
        }
        
        thead tr
        {
            border-bottom: 2px solid #797676;
            
        }
        tbody tr{
            border-bottom: 1px solid #797676;
        }
        
        thead th{
            padding: 0.3rem 0;
            padding-left: 2.2em;
            font-size: 1.3rem;
        }
        tbody td{
            padding: 1rem 0;
            padding-left: 3rem;
        }
        th:first-child,
        td:first-child{
            width: 40%;
        }
    }
   
}