@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap');
:root {
  --black1: #484848;
  --black2: #363143;
  --black3: #18181b;
  --blueBlack: #4e4466;
  --deepBlue: #170e7d;
  --blue: #5d34ec;
  --lightBlue: #e8f0fe;
  --ash: #9f9f9f;
  --offWhite: #f2f2f2;
  --navBarGradient: linear-gradient(180deg, #170e7d 0%, #15104e 100%);
}
.app {
  position: relative;
  max-width: 90rem;
  margin: auto;
}
